<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
  .container{
    
    font-family: monospace;
 
    text-align: center;
}
h1{
  font-weight: 200;
}
.container span{
    color: red; 
}
.container span::after{
    content: '|';
    animation-name: blinking; 
    animation-duration: .71s; 
    animation-iteration-count: infinite;
}
@keyframes blinking{
    from{
        color: transparent; 
    }
    to{
        color: lightgrey; 
    }
}
</style>
<body>
  {% include "quiz/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    {% comment %} <h1 class="display-1 text-info">চলুন কুইজে অংশগ্রহণ করি</h1>
     {% endcomment %}
    <div class="container display-1 text-info ">
      <div class="typing-container">
          <h1>চলুন অংশগ্রহণ করি &nbsp;<span typing-speed="70" typing-delay="1000" words="কুইজে,প্রতিযোগিতায়,নতুন যাত্রায়,নতুন পরিবেশে,সুজন প্রধান  সাথে "></span> </h1>
      </div>
  </div>
    <p class="display-4 d-none d-sm-block">আপনার স্কিল প্রতিযোগিতার যাত্রা এখান থেকেই শুরু হোক</p>
    <p class="lead">আপনার পছন্দের বিষয়ের উপর কুইজে  অংশগ্রহণ করুন.</p>

    

    <p class="lead">আপনি <b>শিক্ষক</b> অথবা <b>শিক্ষার্থী</b> হিসেবে আমাদের প্ল্যাটফর্মে যুক্ত হতে পারেন.</p>
    <p><strong> তাহলে শুরু হোক আপনার যাত্রা</strong></p>
    <a href="/student/studentsignup" class="btn btn-lg btn-info" style="padding-right: 35px;"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
    
    <br><br><br>
  </div>  
</section>
  {% include "quiz/footer.html" %}


</body>
<script>
  var wordsToType = document.querySelector("span[words]").getAttribute("words").split(','), 
            typer =  document.querySelector("span[words]"), 
            typingSpeed = (parseInt(typer.getAttribute('typing-speed')) || 70), 
            typingDelay = (parseInt(typer.getAttribute('typing-delay')) || 700);
    
var currentWordIndex = 0, currentCharacterIndex = 0; 

function type(){

    var wordToType = wordsToType[currentWordIndex%wordsToType.length];

    if(currentCharacterIndex < wordToType.length){
        typer.innerHTML += wordToType[currentCharacterIndex++];
        setTimeout(type, typingSpeed);
    }else{

        setTimeout(erase, typingDelay);
    }

}
function erase(){
    var wordToType = wordsToType[currentWordIndex%wordsToType.length]; 
    if(currentCharacterIndex >0){
        typer.innerHTML = wordToType.substr(0, --currentCharacterIndex -1);
        setTimeout(erase, typingSpeed);
    }else{

        currentWordIndex++; 
        setTimeout(type, typingDelay);
    }

}

window.onload = function(){
    type(); 
}
</script>
</html>
